.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
node_modules/
dist/

android/.gradle/
android/app/debug
android/app/profile
android/app/release
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/

.env
.env.local
*.env.local
!.env.example
*.iml
.idea/
.vscode/
